.site-container {
  min-height: 100vh;
}

main {
  flex: 1;
}

.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.product {
  border: 1px black solid;
  margin: 1 rem;
}

.product img {
  width: 100%;
  max-width: 300px;
}

.product-info {
  padding: 16px;
}

.img-large {
  max-width: 50%;
}

.img-thumbnail {
  height: 80px;
}

.small-container {
  max-width: 600px;
}
